<div class="resume">
  <div class="personalInfo">
    <h1>{{devName}}</h1>
    <address>
      {{devAddress}}<br>
      {{devCity}}, {{devState}} {{devZip}}<br>
      {{devPhone}}<br>
      {{devEmail}}
    </address>
  </div>

  <div class="summary">
    <h2>Summary</h2>
    <p>{{summary}}</p>
  </div>

  <div class="education">
    <h2>Education</h2>
    <p>{{school1}} <span class="educationDates">{{schoolDates1}}</span><br>
      {{schoolDegree1}}
    </p>
    <p>{{school2}} <span class="educationDates">{{schoolDates2}}</span><br>
      {{schoolDegree2}}
    </p>
  </div>

  <div class="experience">
    <h2>Career History and Accomplishments</h2>

    <p>{{employerName1}}, {{jobTitle1}} 
      <span class="employmentDates">{{employmentDates1}}</span>
    </p>
    <ul>
      <li>{{job1Bullet1}}</li>
      <li>{{job1Bullet2}}</li>
      <li>{{job1Bullet3}}</li>
      <li>{{job1Bullet4}}</li>
    </ul>

    <p>{{employerName2}}, {{jobTitle2}} 
      <span class="employmentDates">{{employmentDates2}}</span>
    </p>
    <ul>
      <li>{{job2Bullet1}}</li>
      <li>{{job2Bullet2}}</li>
      <li>{{job2Bullet3}}</li>
      <li>{{job2Bullet4}}</li>
      <li>{{job2Bullet5}}</li>
    </ul>

    <p>{{employerName3}}, {{jobTitle3}} 
      <span class="employmentDates">{{employmentDates3}}</span>
    </p>
    <ul>
      <li>{{job3Bullet1}}</li>
      <li>{{job3Bullet2}}</li>
      <li>{{job3Bullet3}}</li>
      <li>{{job3Bullet4}}</li>
      <li>{{job3Bullet5}}</li>
    </ul>
  </div>
</div>
